* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background-color: #f5f5f7;
}
nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;

  height: 44px;
  align-items: center;
  background-color: rgb(245, 245, 247);
  display: flex;
  width: 100%;
}
nav a {
  text-decoration: none;
}
nav div {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.28px;
  color: #000;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 500%
letter-spacing: -0.28px; */
  display: flex;
  align-items: center;
}
header p {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}
header {
  padding: 20px 0;
  background-color: white;
  text-align: center;
  padding: 20px 0;
}
.space {
  height: 80px;
  width: 100%;
}
.space60 {
  height: 60px;
  width: 100%;
}
.section1 {
  display: flex;
  gap: 759px;
}
.section1-1 {
  font-size: 44px;
  font-weight: 700;
  display: flex;
  margin: 80px 0 0 140px;
  gap: 32px;
  color: #6e6e73;
}
.section1-1 :nth-child(1) {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1-2-1,
.section1-2-2 {
  font-size: 14px;
}
.section1-2-2 {
  padding-left: 16px;
}
.section1-2-1 {
  display: flex;
  gap: 16px;
}
.section1-2-1-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section1-2-1 img {
  width: 35px;
  height: 35px;
}
.section1-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
}
.section1-2-2 {
  margin-left: 35px;
}
.section1-2-1-text p:last-child {
  color: #06c;
  text-decoration: underline;
}
.section1-2-1-text p:first-child,
.section1-2-2 p:first-of-type {
  font-weight: bold;
}
.section2 {
  display: flex;
  margin-right: 240px;
  padding: 0 140px;
  gap: 12px;
}
.section2 img {
  width: 120px;
  height: 78px;
}
.section2 p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.section2 div {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section3 {
  padding: 0 0 60px 140px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.linear-gradient {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
}
.grey {
  color: #6e6e73;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
}
.section3-1,
.section4-1 {
  display: flex;
  gap: 4px;
}
.apple-intelligence {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}
.name {
  font-size: 26px;
  font-weight: 700;
  margin: 9px 0 12px 0;
}
.price {
  font-size: 18px;
  font-weight: 400;
}
.section3-2 {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.section3-2-1,
.section3-2-2,
.section3-2-3,
.section3-2-4 {
  padding: 31px 0 0 30px;
  border-radius: 18px;
  box-shadow: lightgray 5px 5px 15px;
  min-width: 480px;
  min-height: 500px;
  background-size: contain;
}
.section3-2-1 {
  background-image: url("./images/product-1.jpg");
}
.section3-2-2 {
  background-image: url("./images/product-2.jpg");
  padding-top: 48px;
}
.section3-2-3 {
  background-image: url("./images/product-3.jpg");
}
.section3-2-4 {
  background-image: url("./images/product-4.jpg");
}
body {
  padding-bottom: 100px;
}
.section4 {
  padding: 0 0px 60px 140px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section4-2 {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.section4-2-0 {
  background-image: url("./images/airpods-ad.jpg");
  min-width: 400px;
  min-height: 500px;
  background-size: contain;
  padding: 53px 0 0 30px;
  border-radius: 18px;
}
.section4-2-0 p {
  font-size: 26px;
  font-weight: 700;
}
.benefit {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
  margin-top: 58px;
}
.name-section4 {
  font-size: 18px;
  font-weight: 700;
  margin: 6px 0 52px 0;
}
.price-section4 {
  font-size: 14px;
  font-weight: 700;
}
.section4-2 img {
  height: 230px;
  width: 230px;
}
.section4-2-1,
.section4-2-2,
.section4-2-3,
.section4-2-4,
.section4-2-5 {
  padding: 71px 28px 32px 28px;
  width: 313px;
  height: 500px;
  background-color: white;
}
